<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quien soy?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
  <ion-card-header>
    <ion-card-title>Victoria Cruz Jimenez</ion-card-title>
    <ion-card-subtitle>Desarrollador de apps</ion-card-subtitle>
  </ion-card-header>
   <img alt="Este soy yo" src="/assets/Mi foto.jpg" />
  <ion-card-content>
    Estudiante de Ing. Informatica del TecNM Campus Region Sierra
    8vo semestre.
    Desarrollador de apps en :
    -Ionic Framework
    -App Inventor
    -Android Studio
  </ion-card-content>
</ion-card>
</ion-content>